* {
  font-family: Epilogue, sans-serif;
  padding: 0;
}

* , .item {
  box-sizing: border-box;
}

* , .item .item__add , .material-icons.dollar {
  margin: 0;
}

.base-color {
  color: rgb(10, 118, 79);
}

body {
  background-color: rgb(246, 246, 246);
}

.main-header , .container-cartTitle , .container , .items , .item , .item .item__title {
  display: flex;
}

.main-header , .container-cartTitle {
  position: relative;
}

.main-header , .item .item__title , .container-cartTitle {
  align-items: center;
}

.main-header , .item .item__image , .container {
  width: 100%;
}

.main-header {
  background-color: rgb(3, 52, 45);
  height: 60px;
}

.container-title {
  width: 80%;
}

.title {
  color: rgb(221, 221, 221);
  font-size: 30px;
  padding-left: 30px;
}

.container-cartTitle {
  background-color: rgb(10, 118, 79);
  width: 40%;
  height: 100%;
  margin-left: 30px;
}

.container-cartTitle span {
  z-index: 1;
}

.container-cartTitle:after {
  content: '';
  position: absolute;
  top: 15px;
  right: 61.5%;
  width: 39.5%;
  height: 15px;
  background: rgb(10, 118, 79);
  transform: skew(-45deg);
  z-index: 0;
}

.container-cartTitle:before {
  content: '';
  position: absolute;
  top: 30px;
  right: 61.5%;
  width: 39.5%;
  height: 15px;
  background: rgb(10, 118, 79);
  transform: skew(45deg);
  z-index: 0;
}

.container-cartTitle .cart__title , .title strong , .item .item__add {
  color: white;
}

.container-cartTitle .cart__title , .item__price_prefix {
  font-weight: 700;
}

.container-cartTitle .cart__title {
  font-size: 20px;
  padding-left: 35px;
}

.container {
  justify-content: space-around;
}

.items {
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
}

.item {
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
  border: 2px solid rgb(234, 234, 233);
  border-radius: 5px;
}

.item .item__sku {
  display: none;
}

.item .item__title , .item .item__add {
  padding: 10px;
}

.item .item__title {
  flex-grow: 1;
}

.item .item__title , .item__price_prefix , .card-stacked .header , .menu-cart {
  text-align: center;
}

.item__price_prefix i {
  vertical-align: sub;
}

.material-icons.dollar {
  float: none;
  font-size: 19px;
}

.item__price_prefix , .item__image_icon , .cart__item_details {
  display: inline-block;
}

.item__price_prefix {
  padding: 7px;
}

.item__price {
  color: green;
}

.item .item__add {
  background-color: rgb(5, 52, 219);
  border: 0;
  cursor: pointer;
}

.cart {
  display: flex;
  flex-basis: 32%;
  flex-flow: column wrap;
  height: 100vh;
  margin-top: 40px;
}

.cart__items {
  background-color: rgba(157, 153, 153, 0.078);
}

.cart .cart__items {
  height: 700px;
  overflow-y: scroll;
}

.cart__item__card {
  width: 95%;
  margin: auto;
}

.cart > .card {
  background-color: rgb(241, 241, 238);
}

.card-stacked .header.out {
  margin-bottom: 0;
}

.card .card-content {
  padding-top: 12px;
}

.card-stacked .header.inner {
  margin-top: 0;
}

.item__image_icon {
  width: 62px;
  margin-right: 10px;
  vertical-align: top;
}

.cart__item_details {
  text-justify: initial;
  width: 75%;
}

.menu-cart {
  height: 100px;
  padding: 15px;
}

.total-price {
  font-size: 16px;
}

.price-align {
  vertical-align: text-bottom;
}

.empty-cart {
  width: 220px;
  height: 35px;
  margin: 0 auto;
}

.footer-link {
  text-decoration: underline;
}
